body {
}
/*voor datetime css*/
/*.ui-datepicker {
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}


.ui-datepicker-header {   
    color: red;
    font-weight: bold;
   
}


.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-color:red;
    color:green;
    line-height: 600%;
    overflow: hidden;
}




/*voor datatime cs*/

#EditSubmit {
    
    background-color: #4CAF50;
    border: 2px solid red;
    color: white;
    padding: 1px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight:bold;

}

    #EditSubmit:hover {
        background-color:darkblue;
        font-size: 110%;
    }
    #notificationsheader {
    background-color: black;
    color: green;
    font-weight: bold;
    text-align: center;
}
.deadlineheader {

    color:red;
    font-weight:bold;
}



#studenttable {
    border-collapse: separate;
    border-spacing: 50px 0;
    width: 100%;
}
#mytd {
    padding: 10px 0;
}

.ConvertButtons {
    background-color: deeppink;
    color: white;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;    
    cursor: pointer;
    font-weight: bold;
    border: 3px solid red;
}


.mybuttons {   
    background-color: #4CAF50;   
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight:bold;
    border:3px solid red;
}

#logoutbutton {

    position:absolute;
    left:100px;
}


